.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #dba30b;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(121, 60, 7);
}

.App-link {
  color: #c15e08f6;
  position: fixed; /* Fixed position */
  bottom: 10px; /* Adjust this value as needed to control vertical positioning */
  right: 10px; /* Adjust this value as needed to control horizontal positioning */
  background-color: #efa607; /* Background color */
  padding: 10px; /* Padding for the link */
  border: 1px solid #f8f007; /* Border for the link */
}


